[Unit]
Description=Led command
After=network.target

[Service]
User=osmc
WorkingDirectory=/home/osmc/rpiledcommand
ExecStart=/home/osmc/.local/bin/flask run --host 0.0.0.0
Restart=always

[Install]
WantedBy=multi-user.target
